In [1]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\user\anaconda3\envs\learn-env\lib\site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in c:\users\user\anaconda3\envs\learn-env\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\envs\learn-env\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2020.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\envs\learn-env\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\envs\learn-env\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in c:\users\user\anaconda3\envs\learn-env\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\envs\learn-env\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import pyreadstat
import numpy as np

In [3]:
df, meta = pyreadstat.read_sav('KEHR8BFL (1).SAV')
df

,HHID,HV000,HV001,HV002,HV003,HV004,HV005,HV006,HV007,HV008,...,SH305E$02,SH305E$03,SH305E$04,SH305E$05,SH305E$06,SH305E$07,SH305E$08,SH305E$09,SH305E$10,SH305E$11
0,1 4,KE8,1.0,4.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 7,KE8,1.0,7.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 10,KE8,1.0,10.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 13,KE8,1.0,13.0,4.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 17,KE8,1.0,17.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37906,1692 77,KE8,1692.0,77.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37907,1692 80,KE8,1692.0,80.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37908,1692 84,KE8,1692.0,84.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37909,1692 88,KE8,1692.0,88.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37910,1692 91,KE8,1692.0,91.0,1.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# pip install xlrd

In [29]:
# # Read the Excel file into a DataFrame using the default engine (openpyxl)
# df_column_names = pd.read_excel('column_names_to_labels.xlsx')

# # Display the DataFrame
# df_column_names.head()

In [8]:
# Calculate the threshold for 80% empty columns
threshold = 0.8 * len(df)

# Drop columns with 80% or more empty values
df_cleaned = df.dropna(axis=1, thresh=threshold)

# Display the cleaned DataFrame
df_cleaned

,HHID,HV000,HV001,HV002,HV003,HV004,HV005,HV006,HV007,HV008,...,HML34$17,HML34$18,HML34$19,HML34$20,HML34$21,HML34$22,HML34$23,HML34$24,IDXDIS$01,IDXDIS$02
0,1 4,KE8,1.0,4.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,,,,,,,,,1.0,2.0
1,1 7,KE8,1.0,7.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,,,,,,,,,1.0,2.0
2,1 10,KE8,1.0,10.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,,,,,,,,,1.0,2.0
3,1 13,KE8,1.0,13.0,4.0,1.0,1306431.0,4.0,2022.0,1468.0,...,,,,,,,,,1.0,2.0
4,1 17,KE8,1.0,17.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,,,,,,,,,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37906,1692 77,KE8,1692.0,77.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,,,,,,,,,1.0,2.0
37907,1692 80,KE8,1692.0,80.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,,,,,,,,,1.0,2.0
37908,1692 84,KE8,1692.0,84.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,,,,,,,,,1.0,2.0
37909,1692 88,KE8,1692.0,88.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,,,,,,,,,1.0,2.0
37910,1692 91,KE8,1692.0,91.0,1.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,,,,,,,,,1.0,NaN

In [9]:
df_cleaned = df_cleaned.copy()
df_cleaned.replace('', np.NaN, inplace=True)

In [10]:
df_cleaned

,HHID,HV000,HV001,HV002,HV003,HV004,HV005,HV006,HV007,HV008,...,HML34$17,HML34$18,HML34$19,HML34$20,HML34$21,HML34$22,HML34$23,HML34$24,IDXDIS$01,IDXDIS$02
0,1 4,KE8,1.0,4.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
1,1 7,KE8,1.0,7.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
2,1 10,KE8,1.0,10.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
3,1 13,KE8,1.0,13.0,4.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,1 17,KE8,1.0,17.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37906,1692 77,KE8,1692.0,77.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
37907,1692 80,KE8,1692.0,80.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
37908,1692 84,KE8,1692.0,84.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
37909,1692 88,KE8,1692.0,88.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
37910,1692 91,KE8,1692.0,91.0,1.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [11]:
df_cleaned.isna().sum()

HHID             0
HV000            0
HV001            0
HV002            0
HV003            0
             ...
HML34$22     37911
HML34$23     37911
HML34$24     37911
IDXDIS$01        0
IDXDIS$02     7258
Length: 250, dtype: int64

In [12]:
# Assuming df_cleaned is your DataFrame
nan_info = df_cleaned.isna().sum()
nan_percentage = (nan_info / len(df_cleaned)) * 100

# Create a DataFrame with columns and their NaN percentages
nan_df = pd.DataFrame({'Column': nan_info.index, 'NaN Count': nan_info.values, 'NaN Percentage': nan_percentage.values})

# Filter columns with NaN values
columns_with_nan = nan_df[nan_df['NaN Count'] > 0]

# Display the columns with NaN values and their percentages
columns_with_nan

        Column  NaN Count  NaN Percentage
35      HV045A          1        0.002638
36      HV045B          3        0.007913
37      HV045C          3        0.007913
38       HV046          3        0.007913
41       HV802          3        0.007913
..         ...        ...             ...
244   HML34$21      37911      100.000000
245   HML34$22      37911      100.000000
246   HML34$23      37911      100.000000
247   HML34$24      37911      100.000000
249  IDXDIS$02       7258       19.144839

[89 rows x 3 columns]

In [13]:
# Assuming columns_with_nan is your DataFrame with NaN information
columns_to_drop = columns_with_nan[columns_with_nan['NaN Percentage'] == 100]['Column']

# Drop columns with 100% NaN values
df_cleaned_dropped = df_cleaned.drop(columns=columns_to_drop)

# Display the DataFrame after dropping columns with 100% NaN values
df_cleaned_dropped

,HHID,HV000,HV001,HV002,HV003,HV004,HV005,HV006,HV007,HV008,...,HML16$01,HML16$02,HML17$01,HML17$02,HML19$01,HML19$02,HML20$01,HML20$02,IDXDIS$01,IDXDIS$02
0,1 4,KE8,1.0,4.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,34.0,34.0,1.0,3.0,0.0,0.0,1.0,1.0,1.0,2.0
1,1 7,KE8,1.0,7.0,2.0,1.0,1306431.0,4.0,2022.0,1468.0,...,38.0,38.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
2,1 10,KE8,1.0,10.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,33.0,11.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0
3,1 13,KE8,1.0,13.0,4.0,1.0,1306431.0,4.0,2022.0,1468.0,...,46.0,39.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,2.0
4,1 17,KE8,1.0,17.0,1.0,1.0,1306431.0,4.0,2022.0,1468.0,...,36.0,31.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37906,1692 77,KE8,1692.0,77.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,54.0,20.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
37907,1692 80,KE8,1692.0,80.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,58.0,54.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
37908,1692 84,KE8,1692.0,84.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,39.0,36.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
37909,1692 88,KE8,1692.0,88.0,2.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,37.0,33.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
37910,1692 91,KE8,1692.0,91.0,1.0,1692.0,7456997.0,5.0,2022.0,1469.0,...,28.0,NaN,1.0,NaN,0.0,NaN,0.0,NaN,1.0,NaN

In [14]:
# # Assuming columns_with_nan is your DataFrame with NaN information
# columns_to_drop_1 = columns_with_nan[columns_with_nan['NaN Percentage'] >= 70]['Column']

# # Drop columns with 100% NaN values
# df_cleaned_dropped_1 = df_cleaned.drop(columns=columns_to_drop)

# # Display the DataFrame after dropping columns with 100% NaN values
# df_cleaned_dropped_1

In [15]:
# Assuming df_cleaned is your DataFrame
nan_info_1 = df_cleaned_dropped.isna().sum()
nan_percentage_1 = (nan_info_1 / len(df_cleaned_dropped)) * 100

# Create a DataFrame with columns and their NaN percentages
nan_df_1 = pd.DataFrame({'Column': nan_info_1.index, 'NaN Count': nan_info_1.values, 'NaN Percentage': nan_percentage_1.values})

# Filter columns with NaN values
columns_with_nan_1 = nan_df_1[nan_df_1['NaN Count'] > 0]

# Display the columns with NaN values and their percentages
columns_with_nan_1

           Column  NaN Count  NaN Percentage
35         HV045A          1        0.002638
36         HV045B          3        0.007913
37         HV045C          3        0.007913
38          HV046          3        0.007913
41          HV802          3        0.007913
42          HV803          3        0.007913
54          HV213          4        0.010551
55          HV214          4        0.010551
56          HV215          4        0.010551
64          HV225       3849       10.152726
67         HV230A          1        0.002638
68         HV234A          4        0.010551
79         HV238A       3849       10.152726
80          HV241        632        1.667062
97          HV255       6438       16.981879
149      HVIDX$02       6550       17.277307
151      HV101$02       6550       17.277307
153      HV102$02       6550       17.277307
155      HV103$02       6550       17.277307
157      HV104$02       6550       17.277307
159      HV105$02       6550       17.277307
160      HV106$01        149        0.393026
161      HV106$02       6602       17.414471
162      HV107$01       6693       17.654507
164      HV108$02       6550       17.277307
166      HV109$02       6550       17.277307
167      HV115$01         81        0.213658
168      HV116$01         81        0.213658
170      HV117$02       6550       17.277307
172      HV118$02       6550       17.277307
174      HV120$02       6550       17.277307
176      HV121$02       6550       17.277307
177      HV122$01          1        0.002638
178      HV122$02       6553       17.285221
180      HV124$02       6550       17.277307
182      HV125$02       6550       17.277307
184      HV126$02       6550       17.277307
186      HV128$02       6550       17.277307
188      IDXH4$02       6550       17.277307
190     SHEDUC$02       6550       17.277307
192  SHCUREDUC$02       6550       17.277307
194  SHPRVEDUC$02       6550       17.277307
196     HMHIDX$02       6550       17.277307
198      HML12$02       6550       17.277307
200      HML13$02       6550       17.277307
202      HML16$02       6550       17.277307
204      HML17$02       6550       17.277307
206      HML19$02       6550       17.277307
208      HML20$02       6550       17.277307
210     IDXDIS$02       7258       19.144839

In [16]:
# # Calculate the mean for each column
# column_means = df_cleaned_dropped.mean()

# # Fill NaN values with the mean for each column
# df_cleaned_filled = df_cleaned_dropped.fillna(column_means)

# # Display the DataFrame after filling NaN values with the mean
# df_cleaned_filled

In [17]:
df_cleaned_dropped.dtypes.head(20)

HHID       object
HV000      object
HV001     float64
HV002     float64
HV003     float64
HV004     float64
HV005     float64
HV006     float64
HV007     float64
HV008     float64
HV008A    float64
HV009     float64
HV010     float64
HV011     float64
HV012     float64
HV013     float64
HV014     float64
HV015     float64
HV016     float64
HV017     float64
dtype: object

In [18]:
# Exempt 'HV000' and 'HHID' column from the conversion
columns_to_convert = df_cleaned_dropped.columns.difference(['HV000', 'HHID'])

# Convert non-numeric values to NaN
df_cleaned_dropped_numeric = df_cleaned_dropped[columns_to_convert].apply(pd.to_numeric, errors='coerce')

# Calculate the mean for each column
column_means = df_cleaned_dropped_numeric.mean()

# Fill NaN values with the mean for each column
df_cleaned_filled = df_cleaned_dropped_numeric.fillna(column_means)

# Display the DataFrame after filling NaN values with the mean
df_cleaned_filled

,HMHIDX$01,HMHIDX$02,HML1,HML12$01,HML12$02,HML13$01,HML13$02,HML16$01,HML16$02,HML17$01,...,SH136,SHCUREDUC$01,SHCUREDUC$02,SHDV,SHEDUC$01,SHEDUC$02,SHENDEM,SHPRVEDUC$01,SHPRVEDUC$02,SHSHORT
0,1.0,2.0,3.0,1.0,1.000000,1.0,1.0000,34.0,34.000000,1.0,...,5.0,0.0,0.000000,2.0,6.0,0.000000,3.0,0.0,0.000000,0.0
1,1.0,2.0,2.0,3.0,3.000000,1.0,1.0000,38.0,38.000000,0.0,...,5.0,0.0,0.000000,2.0,3.0,2.000000,3.0,0.0,0.000000,1.0
2,1.0,2.0,2.0,1.0,3.000000,2.0,1.0000,33.0,11.000000,1.0,...,5.0,0.0,1.000000,1.0,1.0,1.000000,3.0,0.0,1.000000,0.0
3,1.0,2.0,6.0,1.0,1.000000,1.0,1.0000,46.0,39.000000,1.0,...,5.0,0.0,0.000000,1.0,1.0,2.000000,3.0,0.0,0.000000,0.0
4,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,36.0,31.000000,0.0,...,5.0,0.0,0.000000,2.0,0.0,2.000000,3.0,0.0,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37906,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,54.0,20.000000,0.0,...,5.0,0.0,4.000000,1.0,4.0,4.000000,5.0,0.0,4.000000,0.0
37907,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,58.0,54.000000,0.0,...,5.0,0.0,0.000000,2.0,4.0,4.000000,5.0,0.0,0.000000,1.0
37908,1.0,2.0,4.0,3.0,3.000000,1.0,1.0000,39.0,36.000000,0.0,...,5.0,0.0,0.000000,2.0,4.0,4.000000,5.0,0.0,0.000000,0.0
37909,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,37.0,33.000000,0.0,...,5.0,0.0,0.000000,2.0,4.0,4.000000,5.0,0.0,0.000000,1.0
37910,1.0,2.0,0.0,0.0,0.650681,0.0,0.7355,28.0,31.481075,1.0,...,5.0,0.0,0.309174,1.0,4.0,1.422276,5.0,0.0,0.324479,0.0

In [19]:
# Select and concatenate the original columns 'HV000' and 'HHID'
df_cleaned_filled = pd.concat([df_cleaned_dropped[['HHID', 'HV000']], df_cleaned_filled], axis=1)

# Display the final DataFrame after filling NaN values with the mean and arranging columns
df_cleaned_filled

,HHID,HV000,HMHIDX$01,HMHIDX$02,HML1,HML12$01,HML12$02,HML13$01,HML13$02,HML16$01,...,SH136,SHCUREDUC$01,SHCUREDUC$02,SHDV,SHEDUC$01,SHEDUC$02,SHENDEM,SHPRVEDUC$01,SHPRVEDUC$02,SHSHORT
0,1 4,KE8,1.0,2.0,3.0,1.0,1.000000,1.0,1.0000,34.0,...,5.0,0.0,0.000000,2.0,6.0,0.000000,3.0,0.0,0.000000,0.0
1,1 7,KE8,1.0,2.0,2.0,3.0,3.000000,1.0,1.0000,38.0,...,5.0,0.0,0.000000,2.0,3.0,2.000000,3.0,0.0,0.000000,1.0
2,1 10,KE8,1.0,2.0,2.0,1.0,3.000000,2.0,1.0000,33.0,...,5.0,0.0,1.000000,1.0,1.0,1.000000,3.0,0.0,1.000000,0.0
3,1 13,KE8,1.0,2.0,6.0,1.0,1.000000,1.0,1.0000,46.0,...,5.0,0.0,0.000000,1.0,1.0,2.000000,3.0,0.0,0.000000,0.0
4,1 17,KE8,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,36.0,...,5.0,0.0,0.000000,2.0,0.0,2.000000,3.0,0.0,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37906,1692 77,KE8,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,54.0,...,5.0,0.0,4.000000,1.0,4.0,4.000000,5.0,0.0,4.000000,0.0
37907,1692 80,KE8,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,58.0,...,5.0,0.0,0.000000,2.0,4.0,4.000000,5.0,0.0,0.000000,1.0
37908,1692 84,KE8,1.0,2.0,4.0,3.0,3.000000,1.0,1.0000,39.0,...,5.0,0.0,0.000000,2.0,4.0,4.000000,5.0,0.0,0.000000,0.0
37909,1692 88,KE8,1.0,2.0,0.0,0.0,0.000000,0.0,0.0000,37.0,...,5.0,0.0,0.000000,2.0,4.0,4.000000,5.0,0.0,0.000000,1.0
37910,1692 91,KE8,1.0,2.0,0.0,0.0,0.650681,0.0,0.7355,28.0,...,5.0,0.0,0.309174,1.0,4.0,1.422276,5.0,0.0,0.324479,0.0

In [20]:
df_cleaned_filled.isna().sum()

HHID            0
HV000           0
HMHIDX$01       0
HMHIDX$02       0
HML1            0
               ..
SHEDUC$02       0
SHENDEM         0
SHPRVEDUC$01    0
SHPRVEDUC$02    0
SHSHORT         0
Length: 211, dtype: int64

In [21]:
df_cleaned_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37911 entries, 0 to 37910
Columns: 211 entries, HHID to SHSHORT
dtypes: float64(209), object(2)
memory usage: 61.0+ MB