In [2]:
import pandas as pd

In [3]:
df = pd.read_spss("./KEHR81FL.SAV")

In [4]:
df.head()

,HHID,HV000,HV001,HV002,HV003,HV004,HV005,HV006,HV007,HV008,...,SML16A$15,SML16A$16,SML16A$17,SML16A$18,SML16A$19,SML16A$20,SML16A$21,SML16A$22,SML16A$23,SML16A$24
0,2 1,KE7,2.0,1.0,8.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2 6,KE7,2.0,6.0,2.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2 10,KE7,2.0,10.0,2.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2 13,KE7,2.0,13.0,1.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2 16,KE7,2.0,16.0,3.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Assuming df is your DataFrame
# Define your naming format using a regex pattern
column_format_pattern = r'^SML16A\$[0-9]{2}$'

# Use filter to select columns based on the naming format
selected_columns = df.filter(regex=column_format_pattern)

# Create a new column 'most_common_result' with the most common value across the selected columns

# df[selected_columns.columns]=df[selected_columns.columns].astype("object")

df['most_common_result'] = df[selected_columns.columns].mean(axis=1)
# Display the updated DataFrame
print(df['most_common_result'])

0        78.200000
1        70.250000
2        46.000000
3              NaN
4        20.000000
           ...
7947    138.666667
7948    105.000000
7949    169.500000
7950     51.500000
7951           NaN
Name: most_common_result, Length: 7952, dtype: float64